<div style="grid-column: 1 / 4">
{% if serials %}
<table style="margin-left: auto; margin-right: auto;">
    <thead>
        <tr>
            <th> Название </th>
            <th> Страна </th>
            <th> Жанр </th>
            <th> Возрастное ограничение </th>
            <th> Дата выхода </th>
            <th> Дата завершения </th>
            <th> Рейтинг </th>
        </tr>
    </thead>
    <tbody>
        {% for serial in serials %}
        <tr>
            <td>{{ serial.title }}</td>
            <td>{{ serial.country }}</td>
            <td>{{ serial.genre }}</td>
            <td>{{ serial.age_limits }}+</td>
            <td>{{ serial.start_date }}</td>
            <td>{{ serial.release_date }}</td>
            <td>{{ serial.rating }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div style="text-align: center; font-size: 2rem; padding: 30px;">Нет сериалов</div>
{% endif %}
</div>
