{% extends "blocks/base.html" %}

{% block title %}Передача пая{% endblock %}

{% block body %}
<main>
    <h4>Передача пая</h4>
    <form method="POST">
        {{ form.csrf_token }}
        <p>
            <label>Кооператив</label>
            <b>{{ form.membership.cooperative.name }}</b>
        </p>
        <p>
            <label>Владелец</label>
            <b>{{ form.membership.owner.name }}</b>
        </p>
        {% for field in form %}{% if field.name != "csrf_token" %}
        <p>
            {{ field.label }}
            {{ field }}
            {% if field.errors %}
            <ul class="padding-inline: 0; list-style: none; color: #ff206b;">
                {% for error in field.errors %}
                <li class="form-errors__item">{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </p>
        {% endif %}{% endfor %}
        <button>Сохранить</button>
    </form>
</main>
{% endblock %}
